@font-face {
    font-family: 'DBHelvethaica';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/DB HelvethaicaMon X v3.2.ttf');
    src: url('/fonts/DB Helvethaica X Bd Cond It v3.2.ttf') format('truetype'),
}
.breadcrumb {
    font-size: 19px !important;
    margin-top:-5px !important; 
}
.header {
    font-size: 20px !important;
}
.sidebar-menu {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px;
}
.menu {
    font-family: 'DBHelvethaica' !important;
    font-size: 18px !important;
}
.box-title {
    font-family: 'DBHelvethaica' !important;
    font-size: 22px !important;
    margin-top:22px !important;
}
.content-header>h1 {
    font-family: 'DBHelvethaica' !important;
    font-size: 25px !important;
}
.content-header>h1>small {
    font-family: 'DBHelvethaica' !important;
    font-size: 25px !important;
}
.breadcrumb {
    font-family: 'DBHelvethaica' !important;
}
table {
    font-family: 'DBHelvethaica' !important;
}
th {
    text-align: center;
    font-size: 19px;
    font-weight: 600 !important;
}
td {
    font-size: 20px;
}
table > tbody > tr > td {
    vertical-align: middle !important;
}
.btn-create {
    float: right;
    font-family: 'DBHelvethaica' !important;
    font-size:20px !important;
}
.font {
    font-family: 'DBHelvethaica' !important; 
}
.form-group label {
    color: rgb(90, 88, 88) !important;
}
.label_font {
    font-family: 'DBHelvethaica';
    font-size: 20px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
.center {
    margin:0 auto;
 }
 .alert-danger {
    font-family: 'DBHelvethaica';
    font-size: 20px !important;
 }
 .login-box-msg {
    font-family: 'DBHelvethaica';
    font-size: 20px !important;
 } 
 .btn-password {
     margin: 0px 1px !important;
     border:none;
 }
 .user-body {
     padding: 5px 5px !important;
 }
 .form-group label.control-label {
     font-size: 18px !important;
     margin: 5px 0px !important;
 }
 .editor {
    width: 100%; height: 300px !important; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;
 }
 .form-group select {
    font-family: 'DBHelvethaica';
    font-size: 20px !important;
 }